
<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
    <h1>HUNTING CUBE <small>3D Rougelike Action RPG</small></h1>
	<p></p>
    <p>
    <ul>
	<li>You are placed in misterious cube. Hunt Monster, and Find the reason why you are here!</li>
    <li>Hunt'em ALL! You can feel the hunting on mobile, PC, console, </li>
    <li>Mobile? Don't worry! It supports Auto-Lock-On, And It works well</li>
    <li>Farming! You can find LEGENDARY Weapons, Items and Secret Dungeons!</li>
	<li>Youtube link : <a href="http://youtu.be/HWW7Ktxf_H4">http://youtu.be/HWW7Ktxf_H4</a></li>
	<li><iframe width="560" height="315" src="https://www.youtube.com/embed/HWW7Ktxf_H4" frameborder="0" allowfullscreen></iframe></li>
	<li>I'm a Indie Game Developer. Feel Free to Contact Me! : mazicky@gmail.com </li>
    </ul>
	</p>
</div>

<!-- Example row of columns -->
<div class="row">
    <div class="span4">
        <a href="#" class="thumbnail"><img src="img/hc1.jpg"  alt="screen1"></a>
        <h2>Hunting</h2>
        <p>Player fights against a giant monster. Each attack of monster might be risky, So Player should dodge, or canceling his attack.</p>
    </div>
    <div class="span4">
        <a href="#" class="thumbnail"><img src="img/hc2.jpg"  alt="screen2"></a>
        <h2>Slaying</h2>
        <p>Slaying monster gives the player some items. Items make player attack very well, And the option of the items keep being stacked. So that, Player gets stronger following the cubes.</p>
    </div>
    <div class="span4">
        <a href="#" class="thumbnail"><img src="img/hc3.jpg"  alt="screen3"></a>
        <h2>YOU HUNTED</h2>
        <p>After you hunt, You can find another cube. It'll be store, dungeon, or BIG secret cube.. FIND ALL!</p>
    </div>
</div>

